<!DOCTYPE html>
<html lang="es">
<head>
  
  <title>CONEXIÓN CON BASE DE DATOS EXTERNA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<STYLE>A {text-decoration: none;} </STYLE> <!-- Para quitar todos los subrayados a las anclas.-->
<body>
 <div class="container"><!--Todos los elementos de esta pag estarán en todas las paginas del sitio web, excepto la que están en la columna principal debajo de la subcapecera, en "block content-endblock" que están encerrados entre llaves y signos %. Tengo que describirlo así, porque si lo cito literamente, no respeta ni que esté dentro de este comentario y me produce el error: 'block' tag with name 'content' appears more than once-->
  <div class="row" style="background-color:#2C3E50; color: white"><!-- Fila para la cabecera. Note como colocar los colores de fondo y texto.-->
   <h3>Cabecera</h3>
  </div>
  
  <div class="row" style="background-color:yellow"><!-- Fila para la subcabecera-->
   <p><a href="{% url 'selectdatewidget' %}">SelectDateWidget</a>&nbsp&nbsp&nbsp&nbsp<a href="{% url 'grillanidada' %}">Grilla anidada</a>&nbsp&nbsp&nbsp&nbsp <a href="{% url 'selecwidgetheritage' %}">Heredados SelectWidget</a></p><!--Agregamos espacios &nbsp entre los menus (el ; es prescindible).  -->
  </div><!-- Cierre fila subcabecera-->
  
  <div class="row"><!-- Fila para contenido-->
   <div class="col-sm-3"><!-- Fila para columna lateral izq que estará en todos las páginas del sitio web.-->  
        <a href="{% url 'index' %}">Home</a><br>
        <a href="">Un enlace x</a><br>
        <a href="">Otro link a cullá</a><br>
        <br><!--Metemos un salto efecto retorno de carro (break) -->
        
        <form action="" method="GET" style="font-size: x-small; align-items: center">
           <!-- {% csrf_token %} Con esta encriptación hago invisible datos sensibles. Aquí no hace falta.-->
         <!--<table>-->
    	   {{ formularioEnPlantilla }}
        <!-- </table>-->
        <br><br>
        <input type="submit" value="Buscar"><!-- El input no puede estar fuera del ámbito <form></form>-->
        </form>
        
        <p style="font-size:large">Monto: {{ montoPlantilla }} {% ifnotequal montoPlantilla "" %}Bs{% endifnotequal %}</p><!--Note los condicionales para plantillas django.-->
        <p>Visitas: {{ cantVisitas }} </p>
      </div> <!--cierre de col-sm-3-->
  
    <div class="col-sm-7 "><!--Columna principal central-->
      	{% block content %}{% endblock %}
    </div>
    
    <div class="col-sm-2 "> <!--Barra lateral derecha-->
      	<ul> <li>Item 1 <li>Item 2 <li>Item 2 </ul>
    </div>
    
  </div><!--Cierre de fila para el contenido.-->
  
 <div class="row" style="background-color:#2C3E50; color:red"> <!--Fila para el Pie de página-->
   <h3>Pie de Página</h3>
 </div>
 
 </div><!--Cierre de la clase container.-->
</body>
</html>