
{% extends "base_generica.html" %}<!--Esta es una etiqueta de extensión para django: esta plantilla es hija o heredera de base_generica.html -->

{% block content %}

<h2>Enlace a campo externo</h2>

 <div class="row"> 
  <div class="col">
      {% ifnotequal cantVisitas 0 %}
         {% ifnotequal montoPlantilla "" %} 
            Vemos que el ticket existe.
         {% else %}
            El ticket no existe.
         {% endifnotequal %}      
     {% endifnotequal %}</p>	
  </div>
  <hr>
  <div class="col">
     <p>Texto para este bloque de contenido, etc.  Cant visitas: {{cantVisitas}}</p> 
  </div>
</div>  <!--Cierre del row -->   
     
{% endblock %}