
{% extends "base_generica.html" %}

{% block content %}

{% load crispy_forms_tags %}<!--Y así cargamos crispy -->

<h3>Cálculo de envío. Usamos crispy para los txtBoxs.</h3>

<div class="row"> 
 <div class="col">
  <form action="" method="GET" style="font-size: x-small; align-items: center">
    <table>
      {{ formularioEnPlantilla|crispy }}<!--Aplicamos un filtro crispy, para que todos los widgets de este formulario tengan la apariencia crispy bootstrap. -->
    </table>
    
    <input type="submit" value="Calcular Costo">
    	
  </form>
 </div>
 <div class="col">
      Costo del Envío: {{ costoEnvioEnPlantilla|floatformat:2 }} Bs <!--Con |floatformat:2 en la variable de contexto limitamos a 2 los decimales después de la coma. Conveniente para los números racionales períodicos y no, e irracionales. -->        
 </div>
</div>   
     
{% endblock %}