
{% extends "base_generica.html" %}<!--Esta es una etiqueta de extensión para django: esta plantilla es hija o heredera de base_generica.html -->

{% block content %}

<h3>Ejemplo de select widget</h3>
<!-- Aquí vemos como se pueden anidar las grillas de bootstraps.-->
<div class="row"> 
  <div class="col">
      <p>Columna1Fila1</p>	
  </div>
  <div class="col">
     <p>Columna2Fila1</p> 
  </div>
</div>  <!--Cierre del row -->  

<div class="row"> 
  <div class="col">
      <p>Columna1Fila2</p>	
  </div>
  <div class="col">
     <p>Columna2Fila2</p> 
  </div>
</div>  <!--Cierre del row 2--> 
     
{% endblock %}