
{% extends "base_generica.html" %}<!--Esta es una etiqueta de extensión para django: esta plantilla es hija o heredera de base_generica.html -->

{% block content %}

<h3>Operador Aritmético</h3>

<div class="row"> 
 <div class="col">
  <form action="" method="GET" style="font-size: x-small; align-items: center">
    <table>
      {{ formularioEnPlantilla }}
    </table>
    <input type="submit" value="Ejecutar Operación">	
  </form>
 </div>
 <div class="col">
      Resultado: {{ resultadoEnPlantilla|floatformat:2 }} <!--Con |floatformat:2 en la variable de contexto limitamos a 2 los decimales después de la coma. Conveniente para los racionales períodicos y no, e irracionales. -->
 </div>
</div>   
     
{% endblock %}