
{% extends "base_generica.html" %}<!--Esta es una etiqueta de extensión para django: esta plantilla es hija o heredera de base_generica.html -->

{% block content %}

<h3>Operador Aritmético</h3>

<div class="row"> 
 <div class="col">
 
  <form action="" method="GET">
   <!-- <table>
      {{ formularioEnPlantilla }}
   </table>-->
      <!-- Usando w3.css. Tenemos que usar cada uno de los campos del formulario:-->
      
      <label>Seleccione Operación:</label>
      <select class="w3-select w3-cursive w3-xxlarge" value=""{{ formularioEnPlantilla.operacion }}>
      <label>Primer Número</label>
      <input class="w3-input w3-border" {{formularioEnPlantilla.txtBox1}}>
      <label>Segundo Número</label>
      <input class="w3-input w3-border" {{formularioEnPlantilla.txtBox2}}> 
      
      <button class="w3-button w3-block w3-dark-grey w3-round-xlarge " type="submit" style="width:38%">
       Ejecutar
    </button>
    	
  </form>
  
 </div>
 <div class="col">
   {% if resultadoEnPlantilla == 'N/A' %}
      Error, división entre cero!...introduzca un valor diferente a cero en txtBox2.
   {% else %}
      Resultado: {{ resultadoEnPlantilla|floatformat:2 }} <!--Con |floatformat:2 en la variable de contexto limitamos a 2 los decimales después de la coma. Conveniente para los números racionales períodicos y no, e irracionales. -->   
   {% endif %}
      
 </div>
</div>   
     
{% endblock %}