
{% extends "base_generica.html" %}<!--Esta es una etiqueta de extensión para django: esta plantilla es hija o heredera de base_generica.html -->

{% block content %}

<h3>Ejemplo de Select Widget Heredado</h3>
<!-- Aquí vemos como se pueden anidar las grillas de bootstraps. Haremos una matriz e 4 filas y dos columnas (4x2). -->
<div class="row"> 
  <div class="col-6">
   <form action="" method="GET" style="font-size: x-small; align-items: center">
           <!-- {% csrf_token %} Con esta encriptación hago invisible datos sensibles. Aquí no hace falta.-->
         <!--<table>-->
    	   {{ formularioEnPlantilla.as_table }}
        <!-- </table>-->
        <br><br>
        <input type="submit" value="selección">
      </form>
  </div><!--Cierre primer columna.--> 
  <div class="col-6">
     <p>Selección hecha: {{ valSelecEnPlanti }}</p> 
  </div>
</div>  <!--Cierre del row (primera fila).--> 
     
{% endblock %}