/* Los tipos de letra no estándar hay que importarlos */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar-nav {
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    font-family: Montserrat;
}

.col-sm-2 {
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    text-align: center;
    float: center;
    font-family: Open Sans;
}

.col-sm-10 {
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    text-align: right;
    float: right;
    font-family: Open Sans;
}